<div id="header">
</div>
<div id="contentContainer">
	<div class="lookPreview">
		<%= render :partial => 'users/form_errors', :locals => { :req => true } %>
		<% form_for([@current_user, @look], :html => { :multipart => true })  do |f| %>
			<%= f.error_messages %>
			<%= f.label :title, "* Look Title" %> <%= f.text_field :title, :class => 'required' %>
			<br />
			<%= f.label :content, "* Look Description" %><br />
			<%= f.text_area :content, :class => 'required' %>
			<br />
			<%= f.label :tags %> <%= f.text_field :tag_list %>
			<br />
			<p class="small">Separate tags with commas</p>
			<br />
			<%= f.label :cover %> <%= f.file_field :cover %><br />
			<br />
			<%= submit_tag("Save") %>
		<% end %>
	</div>
</div>