<div id="editpreview">
  <ul> 
	  <li><a href="#">Edit</a></li> 
	  <li><a href="#">Preview</a></li> 
	</ul>	
</div>

<div id="canvas">
	<div id="TextArea">
		<% form_for([@current_user, @look], :html => { :multipart => true })  do |f| %>
			<%= f.error_messages %>
			<%= f.label :title, "Look Title" %> <%= f.text_field :title %>
			<br />
			<div id="editable">
				<%= f.text_area :content %>
			</div>
			<br />
			<%= f.label :tags %> <%= f.text_field :tag_list %>
			<br />
			<%= f.label :cover %> <%= f.file_field :cover %><br />
			<br />
			<%= submit_tag("Save") %>
		<% end %>
	</div>
</div>