<div class="lookPreview">
	<div class="lookContent">
		<% if personal %>
			<%= link_to image_tag(look.cover.url(:thumb)), user_look_path(look.user, look) %>
		<% else %>
			<%= link_to image_tag(look.cover.url(:thumb)), :controller => 'published_looks', :action => 'view', :id => look %>
		<% end %>
		<h2>
			<% if personal %>
				<%= link_to h(look.title), user_look_path(look.user, look) %>
			<% else %>
				<%= link_to h(look.title), :controller => 'published_looks', :action => 'view', :id => look %>
			<% end %>
		</h2>
		<% unless personal %>
			<p class="author">
				By <%= link_to h(look.user.display_name), :controller => 'published_looks', :action => 'user', :id => look.user %>
			</p>
		<% end %>
		<p><%= h(look.content)%></p>
		<p class="tags">
			<% unless look.tag_list.empty? %>
				<%=h look.tag_list %>
			<% else %>
				No tags.
			<% end %>
		</p>
	</div>
	<ul>
		<% if personal %>
			<%= render :partial => 'looks/look_editor_controls', :locals => {:look => look}%>
		<% else %>
			<li><%= link_to "View", :controller => 'published_looks', :action => 'view', :id => look %></li>
			<li>Share</li>
			<li>Like</li>
		<% end %>
	</ul>
	<div class="clear"></div>
</div>