<div class="lookPreview">
	<div id="lookContent">
		<%= image_tag(look.cover.url(:thumb)) %>
		<h2><%= h(look.title) %></h2>
		<% unless personal %>
			<p class="author">
				By <%= link_to h(look.user.display_name), :controller => 'published_looks', :action => 'user', :id => look.user %>
			</p>
		<% end %>
		<p><%= h(look.content)%></p>
		<p class="tags"><%=h look.tag_list %></p>
	</div>
	<ul>
		<% if personal %>
			<li><%= link_to "Edit", edit_user_look_path(look.user, look) %> | </li>
			<li><%= link_to "View", user_look_path(look.user, look) %> | </li>
			<% if look.published %>
				<li><%= link_to 'Unpublish', unpublish_path(look.user, look) %> | </li>
			<% else %>
				<li><%= link_to 'Publish', publish_path(look.user, look) %> | </li>
			<% end %>
			<li><%= link_to "Delete", user_look_path(look.user, look), :method => 'delete', :confirm => 'Are you sure you want to delete this look?' %></li>
		<% else %>
			<li>View</li>
			<li>Share</li>
			<li>Like</li>
		<% end %>
	</ul>
</div>