<div id="container">
	<div id="lookcover">
		<%= image_tag(look.cover.url(:thumb))%>
	</div> 
	<div id="lookinfo"> 
		<h2> 
			<%=h look.title %>
		</h2> 
	  <h5> 	
			By <%= link_to h(look.user.display_name), url_for(:action => 'user', :id => look.user) %>
	  </h5> 
	  <p> 
			<%=h look.content %>
	  </p>
		<br />
		<p><strong>Tags:</strong> <%=h look.tag_list %></p>
	</div>
</div>