<%= render :partial => 'look_summary', :locals => {:look => @look} %>
<div id= "canvas"> 
	<%= render :partial => 'private_look_page_select', :locals => { :look => @look } %>
  <div id= "TextArea">
		<div id="content">
			<% unless @look.pages.empty? %>
				<%= render :partial => 'pages/page_editor_panel', :locals => { :page => @look.pages.first }%>
				<br />
				<%=h @look.pages.first.title %>
				<br /><br />
				<%= @look.pages.first.content %>
				<br /><br />
			<% else %>
				<p>No pages added yet, <%= link_to 'add one', new_user_look_page_url(@look.user, @look) %>
			<% end %>
		</div>
  </div> 
	<a id="LastPage" href="#">< Last Page</a> 
	<a id="NextPage" href="#">Next Page ></a> 
</div> 
