<%= render :partial => 'look_summary', :locals => {:look => @look} %>
<div id= "canvas"> 
	<%= render :partial => 'private_look_page_select', :locals => { :look => @look } %>
  <div id= "TextArea">
		<div id="content">
			<% unless @look.pages.empty? %>
				<%= render :partial => 'pages/page_editor_panel', :locals => { :page => @look.pages.first }%>
				<h3><%=h @look.pages.first.title %></h3>
				<br />
				<%= @look.pages.first.content %>
				<br /><br />
			<% else %>
				<p>No pages added yet, <%= link_to 'add one', new_user_look_page_path(@look.user, @look) %>
			<% end %>
		</div>
  </div> 
	<% unless @look.pages.empty? %>
		<%= render :partial => 'pages/page_change', :locals => {:page => @look.pages.first} %>
	<% end %>
</div> 
