<div id="header">
	<ul>
		<% if filter == 'working' %>
			<li class="active"><%= link_to 'Working Looks', working_user_looks_path(user) %></li>
		<% else %>
			<li><%= link_to 'Working Looks', working_user_looks_path(user) %></li>
		<% end %>
		<% if filter == 'published' %>
			<li class="active"><%= link_to 'Published Looks', published_user_looks_path(user) %></li>
		<% else %>
			<li><%= link_to 'Published Looks', published_user_looks_path(user) %></li>
		<% end %>
		<% if filter.empty? %>
			<li class="active"><%= link_to 'All Looks', user %></li>
		<% else %>
			<li><%= link_to 'All Looks', user %></li>
		<% end %>
	</ul>
	<%= link_to 'New Look +', new_user_look_path(user), :class => 'button' %>
</div>
<div id="contentContainer">
	<% unless looks.empty? %>
		<%= render :partial => 'looks/look_list_display', :collection => looks, :as => :look, :locals => {:personal => true} %>
	<% else %>
		<p>No <%= filter -%> looks yet, <%= link_to 'create one', new_user_look_path(user) %>.</p>
	<% end %>
	<%= will_paginate looks %>
</div>
