<div id="container">
	<div id="lookcover">
		<%= image_tag(user.photo.url(:thumb)) %>
	</div> 
	<div id="lookinfo"> 
		<h2> 
			<%=h user.display_name %>
		</h2>  
	  <div id="userbio"> 
			<br />
			<p><%=h user.bio %></p> 
	  </div> 
	</div>
</div>

<div id="editpreview">
	<ul>
		<li><%= link_to 'All', user %></li>
		<li><%= link_to 'Working', working_looks_url(user) %></li>
		<li><%= link_to 'Published', published_looks_url(user) %></li>
	</ul>
</div>
<div id= "canvas"> 
  <div id= "TextArea">
		<div id="content">
			<h4>Viewing all of your <%= filter -%> looks.</h4>
			<br />
			<% unless looks.empty? %>
			  <%= render :partial => 'looks/my_look_list_display', :collection => looks, :as => :look %>
			<% else %>
				<p>No <%= filter -%> looks yet, <%= link_to 'create one', new_user_look_url(user) %>.</p>
			<% end %>
  </div> 
</div>