<div id="header">
	<h2>Settings for <%= @user.display_name %></h2>
</div>
<div id="contentContainer">
	<div class="lookPreview">
		<p>Change your password below.</p>
		<br />
		<%= render :partial => 'users/form_errors', :locals => {:req => true} %>
		<% form_tag(url_for(:action => 'change_password')) do %>
			<%= label_tag :old_password, "* Old Password: " %><br />
			<%= password_field_tag :old_password, '', :class => 'required' %><br />
			<br />
			<%= label_tag :new_password, "* New Password: " %><br />
			<%= password_field_tag :new_password, '', :class => 'required' %><br />
			<br />
			<%= label_tag :new_password_confirmation, "* Confirm New Password: " %><br />
			<%= password_field_tag :new_password_confirmation, '', :class => 'required' %><br />				
			<br />
			<%= submit_tag('Change')%>
		<% end %>
	</div>
</div>