<div id="lookinfo">
	<h2>Settings for <%= @user.display_name %></h2>
</div>
<div id= "canvas">
	<div id="TextArea">
		<div id="content">
			<p>Change your password below.</p>
			<br />
			<% form_tag(url_for(:action => 'change_password')) do %>
				<%= label_tag :old_password %>:<br />
				<%= password_field_tag :old_password %><br />
				<br />
				<%= label_tag :new_password %>:<br />
				<%= password_field_tag :new_password %><br />
				<br />
				<%= label_tag :new_password_confirmation %>:<br />
				<%= password_field_tag :new_password_confirmation %><br />				
				<br />
  			<%= submit_tag('Change')%>
			<% end %>
		</div>
	</div>
</div>