<div id="header">
	<h2>Settings for <%= @user.display_name %></h2>
</div>
<div id="contentContainer">
	<div class="lookPreview">
		<%= link_to "Change password", url_for(:action => 'change_password', :id => @user.id) %>
		<br />
		<%= render :partial => 'users/form_errors', :locals => {:req => true} %>
		<% form_for(@user, :html => { :multipart => true }) do |f| %>
			<%= f.error_messages %>
			<%= render :partial => 'user_form', :locals => { :f => f }%>
			<%= submit_tag('Update')%>
		<% end %>
	</div>
</div>