<div id="signupbox"> 
	<div id="labels"> 
		<%= render :partial => 'form_errors', :locals => {:req => false} %>
		<% form_for(@user, :html => { :multipart => true }) do |f| %>
			<%= f.label :display_name, "Name", :id => 'name' %>
			<%= f.text_field :display_name, :class => 'watermarked', :title => 'Your Name' %><br />
			<%= f.label :email, "E-Mail" %>
			<%= f.text_field :email, :class => 'watermarked', :title => 'Email' %><br />
	</div> 
	<div id="signup"> 
			<%= submit_tag("Sign Up &raquo;", :class => 'awesome')%><br />
		<% end %>
	</div> 
</div>