<div id="homecanvas"> 
  <h3>Share Your Thoughts.</h3> 
</div>

<div id="register"> 
  <p>Sign-up for an account. Fair warning - this is a work in progress. We ain't promising much.</p> 
	<%= render :partial => 'form_errors', :locals => {:req => false} %>
	<% form_for(@user, :html => { :multipart => true }) do |f| %>
	  <%= f.error_messages %><br />
		<%= f.text_field :email, :class => 'watermarked', :title => 'Email' %><br />
		<%= f.text_field :display_name, :class => 'watermarked', :title => 'Your Name' %><br />
		<span id="username_error" class="error"></span>
		<%= f.text_field :username, :class => 'watermarked', :title => 'Username' %><br />
	  <%= f.password_field :password, :class => 'watermarked', :title => 'password' %><br />
	  <%= f.password_field :password_confirmation, :class => 'watermarked', :title => 'password' %><br />
		<%= submit_tag("Create My Account")%><br />
	<% end %>
</div>
