<%= javascript_include_tag 'users.js' %>

<div id="homecanvas"> 
  <h3>Share Your Thoughts.</h3> 
</div>

<div id="register"> 
  <p>Sign-up for an account. Fair warning - this is a work in progress. We ain't promising much.</p> 

	<% form_for(@user, :html => { :multipart => true }) do |f| %>
	  <%= f.error_messages %><br />
		<%= f.text_field :email %><br />
		<%= f.text_field :display_name %><br />
		<span id="username_error" class="error"></span>
		<%= f.text_field :username %><br />
	  <%= f.password_field :password %><br />
	  <%= f.password_field :password_confirmation %><br />
		<%= submit_tag("Create My Account")%><br />
	<% end %>
</div>
