<h3>Welcome to LookIt, please register for an account!</h3>

<% form_for(@user, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>
  <%= f.label :username, "Username: " %><%= f.text_field :username %>
  <span id="username_error" class="error"></span>
  <%= render :partial => 'user_form', :locals => { :f => f }%>
  <%= submit_tag("Create")%>
<% end %>

<%= link_to "Cancel", :action => 'index' %>
