<div id="header">
	<ul>
		<li id="edit" class="active"><span class="edit tab">Edit</span></li>
		<li id="preview"><span class="preview tab">Preview</span></li>
	</ul>
</div>
<div id="contentContainer">
	<div class="lookEditor">
		<%= render :partial => 'looks/look_summary', :locals => {:look => look, :personal => true}%>
		<div id="pageContent">
			<div class="pageList">
				<h3>Pages:</h3>
				<ul>
					<% look.pages.each do |page| %>
						<li><%= link_to h(page.title), user_look_page_path(look.user, look, page)%></li>
					<% end %>
					<li>
						<%= link_to "Add Page + ", new_user_look_page_path(look.user, look), :class => 'button' %></li>
					</li>
				</ul>
			</div>
			<div id="edit" class="pageEditor">
				<%= render :partial => 'users/form_errors', :locals => {:req => false}%>
				<% form_for([@current_user, @look, @page])  do |f| %>
					<%= f.error_messages %>
					<%= f.label :title, "Page Title:" %>
					<%= f.text_field :title, :class => 'required' %>
					<br /><br />
					<%= f.text_area :content, {:class => 'content'} %>
					<br />
					<%= submit_tag("Save") %>
				<% end %>
			</div>
			<div id="preview" class="pageEditor">
				<div id="previewDisplay"></div>
				<input type="button" id="previewSave" value="Save" />
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>
