<%= javascript_include_tag 'tiny_mce/tiny_mce.js' %>
<script type='text/javascript'>
  tinyMCE.init({
    mode: 'textareas',
    theme: 'advanced',
    editor_selector: 'content',
		width: 500,
		height: 490
  });
</script>
<div id="editpreview">
  <ul> 
	  <li><a href="#">Edit</a></li> 
	  <li><a href="#">Preview</a></li> 
	</ul>	
</div>

<div id="canvas">
	<%= render :partial => 'looks/look_page_select', :locals => { :look => @look} %>
	<div id="TextArea">
		<% form_for([@current_user, @look, @page])  do |f| %>
			<%= f.error_messages %>
			<%= f.label :title, "Page Title" %> <%= f.text_field :title %>
			<br />
			<div id="editable">
				<%= f.text_area :content, {:class => 'content '} %>
			</div>
			<br />
			<%= submit_tag("Save") %>
		<% end %>
	</div>
</div>