<%= render :partial => 'published_nav' %>
<div id="canvas">
	<div id="TextArea">
		<div id="content">
			<h4>Look Results</h4>
			<br />
			<% unless @look_results.empty? %>
				<%= render :partial => 'looks/public_look_list_display', :collection => @look_results, :as => :look %>
			<% else %>
				<p>Sorry, no looks found.</p>
			<% end %>	
			<br />
			<h4>Page Results</h4>
			<br />
			<p>Sorry, no pages found.</p>
			<br />
			<h4>User Results</h4>
			<br />
			<% unless @user_results.empty? %>
				<% @user_results.each do |user| %>
					<div class="LookSnippet">
						<%= link_to image_tag(user.photo.url(:thumb)), url_for(:action => 'user', :id => user)  %>
						<h3><%= link_to h(user.display_name), url_for(:action => 'user', :id => user) %></h3>
						<br />
						<br />
						<p><%= link_to h(user.bio), url_for(:action => 'user', :id => user) %></p>
					</div>
				<% end %>
			<% else %>
				<p>Sorry, no users found.</p>
			<% end %>
		</div>
	</div>
</div>