<div id="container">
	<div id="lookcover">
		<%= image_tag(@user.photo.url(:thumb)) %>
	</div> 
	<div id="lookinfo"> 
		<h2> 
			<%=h @user.display_name %>'s Published Looks
		</h2>  
	  <div id="userbio"> 
			<br />
			<p><%=h @user.bio %></p> 
	  </div> 
	</div>
</div>
<div id="canvas">
	<div id="TextArea">
		<div id="content">
			<%= render :partial => 'looks/public_look_list_display', :collection => @looks, :as => :look %>
			<%= will_paginate @looks %>
		</div>
	</div>
</div>