<h3><%=h @look.title %></h3>
<br />
<span>
	Posted by <%=h @look.user.display_name %> at <%= @look.posted %>
</span>
<br />
<br />
<div id="view_content">
	<%=h @look.content %>
</div>
<br />
<h3><%=h @look.title %>'s pages</h3>
<% unless @look.pages.empty? %>
	<ol>
		<%= render :partial => 'page_link', :collection => @look.pages, :as => :page %>
	</ol>
<% else %>
	<p>No pages yet...</p>
<% end%>