<%= render :partial => 'looks/public_look_summary', :locals => {:look => @look} %>
<div id= "canvas"> 
	<%= render :partial => 'looks/look_page_select', :locals => { :look => @look }%>
  <div id= "TextArea">
		<div id="content">
			<% unless @page.nil? %>
				<h3><%=h @page.title %></h3>
				<br />
				<%= @page.content %>
			<% else %> 
				<p>No content has been created for this look.</p>
			<% end %>
		</div>
  </div>
	<% unless @page.nil? %>
		<%= render :partial => 'pages/public_page_change', :locals => {:page => @page} %>
	<% end %>
</div> 
