<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Simple Online Publishing Platform: LookIt</title>
		<meta name="description" content="Tell stories, share ideas, document your experience, digital scrapbooking, and much more. Lookit is a simple publishing platform for the post-blog era." /> 
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" />
		<script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery.validate/1.7/jquery.validate.min.js" />
		<%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag 'style' %>
		<!-- Google Analytics -->
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-16864147-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
  </head>
  <body>
  	<div id="navigation"> 
		  <div id="logo"> 
      	<%= image_tag('lookit.png') %>
	    </div> 
	    <ul>
				<% if session[:user_id] %>
					<li><%= link_to "Home", root_url %></li>
					<li><%= link_to "Browse Looks", :controller => :published_looks %></li>
					<li><%= link_to "My Looks", user_looks_url(:user_id => session[:user_id]) %></li>
          <li><%= link_to "New Look", new_user_look_url(:user_id => session[:user_id]) %></li>
          <li><%= link_to "Settings", edit_user_url(:id => session[:user_id]) %></li>
         	<li><%= link_to "Log Out", logout_url %></li>
				<% else %>
					<%= render :partial => 'users/login_form' %>			
				<% end %>
	    </ul> 
		</div>
		<% unless flash[:notice].nil? %>
      <div id="flash"><%= flash[:notice] %></div>
    <% end %>
			<div id="flash"><%= flash[:notice] %></div>
   	<%= yield %>
		<div id="footer"></div>
  </body>
</html>
  