<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title><%= @page_title or 'Brighten' %></title>
		<meta name="description" content="Tell stories, share ideas, document your experience, digital scrapbooking, and much more. Brighten is a simple publishing platform for the post-blog era." /> 
		<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" %>
		<%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js" %>
		<%= javascript_include_tag "http://ajax.microsoft.com/ajax/jquery.validate/1.7/jquery.validate.min.js" %>
		<%= javascript_include_tag "jquery.tinywatermark" %>
		<%= javascript_include_tag "application" %>
		<%= yield :js %>
    <%= stylesheet_link_tag 'style' %>
		<!-- Google Analytics -->
		<script type="text/javascript">
		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-16864147-1']);
		  _gaq.push(['_trackPageview']);
		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
  </head>
  <body>
		<div id="navContainer">
			<div id="topBar">
			</div>
			<div id="navigation">
				<%= image_tag "brightenLogo.png", :id => 'logo' %>
				<ul>
					<% if session[:user_id] %>
						<li><%= link_to "My Looks", root_path %></li>
						<li><%= link_to "All Looks", :controller => :published_looks %></li>
						<li><%= link_to "Profile", new_user_look_path(:user_id => session[:user_param]) %></li>
					  <li><%= link_to "Settings", edit_user_path(:id => session[:user_param]) %></li>
			     	<li><%= link_to "Sign Out", logout_path %></li>
					<% else %>
						<li><a href='http://brightenit.tumblr.com/'>Blog</a></li>
						<li><%= link_to "Sign In", login_path %></li>			
					<% end %>
				</ul>
			</div>
		</div>
    <div id="notice">
			<div id="message">
				<%= flash[:notice] %>
			</div>
		</div>
   	<%= yield %>
  </body>
</html>
  